{% set intvars = interfaces[inventory_hostname] -%}

router bgp {{ intvars.asn }}
 bgp router-id {{ intvars.loopback }}
 bgp bestpath as-path multipath-relax
 bgp bestpath compare-routerid
 timers bgp 1 3
 neighbor compute peer-group
 neighbor compute remote-as external
 neighbor compute capability extended-nexthop
 neighbor fabric peer-group
 neighbor fabric remote-as external
 neighbor fabric capability extended-nexthop
{% if intvars.function == "leaf_with_vlan" %}
 neighbor compute-v4 peer-group
 neighbor compute-v4 remote-as {{ intvars.asn }}
{% for vlan in intvars.vlan %}
 bgp listen range 10.1.{{ vlan }}.0/24 peer-group compute-v4
{% endfor %}
{% endif %}
{% if intvars.function == "leaf" or intvars.function == "leaf_with_vlan" %}
{% for neighbor in intvars.compute %}
 neighbor e101-0{{ neighbor }}-0 interface peer-group compute
{% endfor %}
{% endif %}
{% for neighbor in intvars.fabric %}
 neighbor e101-0{{ neighbor }}-0 interface peer-group fabric
{% endfor %}
 !
 address-family ipv4 unicast
  network {{ intvars.loopback }}/32
 exit-address-family
 !
 address-family ipv6 unicast
{% if intvars.function == "leaf" or intvars.function == "leaf_with_vlan" %}
  neighbor compute activate
{% endif %}
  neighbor fabric activate
 exit-address-family
