{% set intvars = interfaces[inventory_hostname] -%}

router bgp 65000
 bgp router-id {{ intvars.loopback }}
 bgp bestpath as-path multipath-relax
 bgp bestpath compare-routerid
 neighbor fabric peer-group
 neighbor fabric remote-as external
 neighbor fabric capability extended-nexthop
 neighbor enp1s0f0 interface peer-group fabric
 neighbor enp1s0f1 interface peer-group fabric
 !
 address-family ipv4 unicast
  network {{ intvars.loopback }}/32
  neighbor fabric allowas-in
  neighbor fabric filter-list 1 out
 exit-address-family
 !
 address-family ipv6 unicast
  neighbor fabric activate
 exit-address-family
!
ip as-path access-list 1 permit ^$
