{% set intvars = interfaces[inventory_hostname] -%}

{% if intvars.function == "unnumbered" %}
auto lo lo:1
iface lo inet loopback

iface lo:1 inet static
 address {{ intvars.loopback }}/32

auto eno1
iface eno1 inet dhcp
{% endif %}

{% if intvars.function == "unnumbered" %}
auto enp1s0f0
iface enp1s0f0 inet manual
 mtu 9184
 post-up ifconfig enp1s0f0 up

auto enp1s0f1
iface enp1s0f1 inet manual
 mtu 9184
 post-up ifconfig enp1s0f1 up
{% endif %}

{% if intvars.function == "calico" %}
auto lo
iface lo inet loopback

auto eno1
iface eno1 inet dhcp

auto enp1s0f0
iface enp1s0f0 inet static
 address {{ intvars.enp1s0f0 }}/24
 mtu 9184

auto enp1s0f1
iface enp1s0f1 inet static
 address {{ intvars.enp1s0f1 }}/24
 mtu 9184
{% endif %}

{% if intvars.function == "leaf_with_vlan" or intvars.function == "spine" %}
auto lo 
iface lo inet loopback 
 post-up /bin/nns-eth-mgmt
{% endif %}

{% if intvars.function == "leaf_with_vlan" or intvars.function == "spine" %}
%for a in range(1,10): 
auto e101-00${a}-0 
iface e101-00${a}-0 
 address {{ intvars.loopback }}/32
 mtu 9184 
%endfor
{% endif %}

{% if intvars.function == "leaf" or intvars.function == "leaf_with_vlan" %}
%for b in range(10,55): 
auto e101-0${b}-0 
iface e101-0${b}-0 
 address {{ intvars.loopback }}/32
 mtu 9184 
%endfor
{% endif %}
{% if intvars.function == "spine" %}
%for b in range(10,33):
auto e101-0${b}-0
iface e101-0${b}-0
 address {{ intvars.loopback }}/32
 mtu 9184
%endfor
{% endif %}

{% if intvars.function == "leaf_with_vlan" %}
{% for vlan in intvars.vlan %}
auto vlan{{ vlan }}
iface vlan{{ vlan }}
 address 10.1.{{ vlan }}.254/24
 bridge_ports e101-048-0.{{ vlan }} \
{% for ports in intvars.ports %}
 e101-0{{ ports }}-0 \
{% endfor %}
{% endfor %}
{% endif %}
